<div class="Qa">
  <h2>استشارات قانونية</h2>
  
  <div class="input-section">
    <input #fileInput type="file" (change)="onFileSelected($event)" accept=".pdf" style="display: none">

    <div class="input-container">
      <i class="pi pi-plus upload-icon" (click)="fileInput.click()"></i>
      <input type="text" [(ngModel)]="question" placeholder="اكتب سؤالك هنا" class="question" />
    </div>
    
    <button (click)="submit()">الحصول على الإجابة</button>
    <button (click)="submit2()">Queries</button>
  </div>

  @if (loading()) {
  <div class="loading">جاري التحميل</div>
  } @if (answer()) {
  <div class="answer">{{ answer() }}</div>
  }
</div>
