<div class="Qa">
  <h2>استشارات قانونية</h2>
  
  <div class="input-section">
    <input #fileInput type="file" (change)="onFileSelected($event)" accept=".pdf" style="display: none">

    <div class="input-container">
      <i class="pi pi-plus upload-icon" (click)="fileInput.click()"></i>
      <input type="text" [(ngModel)]="question" placeholder="اكتب سؤالك هنا" class="question" />
    </div>

    @if (selectedFile()) {
      <div class="file-badge-container">
        <div class="selected-file-badge">
          <i class="pi pi-file-pdf"></i>
          <span class="file-name">{{ selectedFile()?.name }}</span>
          <i class="pi pi-times remove-file" (click)="clearFile(fileInput)"></i>
        </div>
      </div>
    }
    
    <div class="button-group">
      <button (click)="submit()" [disabled]="loading()">الحصول على الإجابة</button>
      <button (click)="submit2()" [disabled]="loading()">استعلام ذكي</button>
    </div>
  </div>

  @if (loading()) {
  <div class="loading">جاري التحميل</div>
  } @if (answer()) {
  <div class="answer">{{ answer() }}</div>
  }
</div>
